<section class="body">
    <div class="col d-flex justify-content-center">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="text-center">
                            <h1><u>Reset Password</u></h1>
                            <h6>Enter Your Registered Email ID</h6>
                        </div>
                        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                    placeholder="Enter Email">
                                    <small style="color: red;" class="p-error" *ngIf="this.passwordForm.controls['email'].invalid&&isSubmitted">Email is required</small>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                            <div *ngIf="isSubmitted&&authError" style="padding-left: 130px;"><small style="color: rgb(216, 5, 5);">{{AuthMessage}}</small></div>

                        </form>
                            <a  style="margin-top: 10px" routerLink="/register">New Here? Click to Register</a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>

